.bloco{
	display:block;
}
.clear{
	clear:both;
	}
.mb25{
	margin-bottom:25px;
}
.mt25{
	margin-top:25px;
}
.mt75{
	margin-top: 75px;
}
.mt0{
	margin-top:0;
}
.esconde{
	overflow:hidden;
}